@import url('variables.css');
@import url('floor.css');
@import url('box.css');
@import url('aim.css');
@import url('gun.css');
@import url('building.css');
@import url('enemy.css');
@import url('map.css');
@import url('../env/box2.css');
@import url('../guns/pistol.css');
@import url('../env/building1.css');
@import url('../enemies/enemy.css');


body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: url('../assets/Latest\ posts\ of_\ \ s-spooky\ g-g-ghosts.png') no-repeat center center/cover; */
    background: linear-gradient(rgb(1, 0, 9), rgb(21, 0, 60));
}

body div {
    transform-style: preserve-3d;
}

.arena{
    width: 1366px;
    height: 657px;
    perspective: 3000px; 
    position: relative;
    top: 100px;   
    /* animation: rotate 10s infinite 0s;   */
}
@keyframes rotate {
    0%{
        transform: rotateX(-10deg) rotateY(0deg);
    }
    
    50%{
        transform: rotateX(20deg) rotateY(360deg);
    }
    
    100% {
        transform: rotateX(-10deg) rotateY(0deg);
    }
}

